.claimSidebar {
	background-image: url('../images/claimwiki/claimwiki.png');
}

.claimSidebar, .claimSidebar a, .claimSidebar a:hover {
	height: 40px;
	width: 150px;
	display: block;
	text-decoration: none;
}

div#mw-panel div.portal#p-claimWiki .body {
	background-image: none;
	margin: 0 0 0 5px;
	padding: 0;
}

#mw-panel.collapsible-nav .portal#p-claimWiki {
	margin: 0 0 1.5em;
}

div#mw-panel div.portal#p-claimWiki > h5, #mw-panel.collapsible-nav .portal#p-claimWiki > h5 {
	background-image: none;
	display: none;
}

#mw-panel.collapsible-nav .portal#p-claimWiki .body {
	display: block;
}

#claim_wiki_form {
	clear: both;
}

#claim_wiki_form .label_above {
	display: block;
	font-weight: bold;
}

#claim_wiki_form fieldset {
	display: block;
	margin: 0 0 10px;
	padding: 0 0 10px;
	border: 0 none;
}

#claim_wiki_form textarea {
	max-width: 600px;
	min-height: 150px;
}

#claim_wiki_form h3 .plain {
	font-weight: normal;
}

#claimlist {
	width: 100%;
	clear: both;
}

#claimlist, #claimlist th, #claimlist td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 4px;
}

	#claimlist th {
		background-color: #ddd;
		color: black;
	}

	#claimlist .sortable th span[data-sort] {
		background-image: url("data:image/gif;base64,R0lGODlhFQAJAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTE4OEM2REYyN0ExMDhBNDJFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjdCNTAyODcwMEY4NjExRTBBMzkyQzAyM0E1RDk3RDc3IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjdCNTAyODZGMEY4NjExRTBBMzkyQzAyM0E1RDk3RDc3IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzUgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDE4MDExNzQwNzIwNjgxMTg4QzZERjI3QTEwOEE0MkUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDE4MDExNzQwNzIwNjgxMTg4QzZERjI3QTEwOEE0MkUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAFQAJAAACF4yPgMsJ2mJ4VDKKrd4GVz5lYPeMiVUAADs=");
		background-position: right center;
		background-repeat: no-repeat;
		cursor: pointer;
		padding-right: 20px;
	}

	#claimlist .sortable > th[data-selected="true"], #claimlist .sortable > th span[data-selected="true"] {
		background-color: #aaa;
	}

	#claimlist tr > td span[data-selected="true"] {
		font-weight: bold;
	}

	#claimlist .sortable[data-sort-dir="desc"] > th span[data-selected="true"] {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAYAAADdA2d2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjc2QjlBNzNCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjc2QjlBNzRCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNzZCOUE3MUI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNzZCOUE3MkI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpERdycAAAA+SURBVHjaYvz//z8DLsDIyIjMBSmEC+DTx8RAHPiPRuMFTCQYyECswUwkGkiUwYz4woZcwMRAAzDCDQUIMADt5BAFJaQ49gAAAABJRU5ErkJggg==");
	}

	#claimlist .sortable[data-sort-dir="asc"] > th span[data-selected="true"] {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAYAAADdA2d2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjc2QjlBNkZCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjc2QjlBNzBCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNzZCOUE2REI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNzZCOUE2RUI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Po3a3soAAAA+SURBVHjaYvz//z8DtQETAw3A0DGUBZ8kIyMjTjl8ccFCwFJ8schIrvcZSTWQ2DBlJMVAUiKKkVgDQQAgwACQ6QcZ9msHwAAAAABJRU5ErkJggg==");
	}

	#claimlist .sortable th span[data-sort] {
	    display: block;
	}

	#claimlist .sortable > th:hover {
		background-color: #aaa;
	}

	#claimlist .sortable th.unsortable {
		background-color: #ddd;
		background-image: none;
		cursor: auto;
		padding: 4px;
	}

	#claimlist tr:hover {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTVGMUI2RDg3MzlGMTFFMkE5Q0FEOUJEOTVENEZDMkMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTVGMUI2RDk3MzlGMTFFMkE5Q0FEOUJEOTVENEZDMkMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpEQTVCOUJGNTczOUUxMUUyQTlDQUQ5QkQ5NUQ0RkMyQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpEQTVCOUJGNjczOUUxMUUyQTlDQUQ5QkQ5NUQ0RkMyQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pk93Vi0AAAAWSURBVHjaYpw5c2YDAxAwMUABQIABACPmAk9yX/zwAAAAAElFTkSuQmCC);
	}

	#claimlist .controls {
		width: 24px;
	}

		#claimlist .controls.wide {
			width: 110px;
		}

	#claimlist .controls .controls_container {
		position: relative;
	}

	#claimlist .controls img {
		max-width: 24px;
		text-align: right;
	}

	#claimlist .controls_container > .dropdown {
		background: none repeat scroll 0 0 white;
		border: 1px solid black;
		border-radius: 4px 4px 4px 4px;
		display: none;
		padding: 4px 2px;
		position: absolute;
		right: 0;
		top: 24px;
		z-index: 1000;
	}

	#claimlist .controls:hover .dropdown {
		display: inline;
	}

	#claimlist .controls a {
		display: inline-block;
	}

	#claimlist .controls .dropdown a {
		display: block;
		width: 180px;
	}

	#claimlist .controls img {
		padding: 0 4px;
	}

	#claimlist .master {
		background: none repeat scroll 0 0 #8DDD62;
	}

	#claimlist .approved, .legend.approved span.swatch {
		background: none repeat scroll 0 0 greenyellow;
	}

	#claimlist .denied, .legend.denied span.swatch {
		background: none repeat scroll 0 0 pink;
	}

    #claimlist .pending, .legend.pending span.swatch {
        background: none repeat scroll 0 0 orange;
    }

	.skin-hydradark #claimlist .approved, .skin-hydradark .legend.approved span.swatch, .skin-hydradark #claimlist .pending, .skin-hydradark .legend.pending span.swatch, .skin-hydradark #claimlist .denied, .skin-hydradark .legend.denied span.swatch {
	    color: black;
	}

	#claimlist ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	#claimlist ul li {
		margin: 0;
		padding: 0;
	}

	#claimlist .popup_list {
		display: block;
	}

	#claimlist .popup_list ul {
		display: none;
		background: white;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
		z-index: 100;
		position: absolute;
	}

	#claimlist .popup_list:hover ul {
		display: block;
	}

.legend {
	display: inline-block;
	font: 300 11px/30px Helvetica,Arial,sans-serif;
	background-color: #212121;
	color: white;
	padding: 0 5px;
	height: 30px;
}

.swatch {
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	width: 1em;
}
