.claimSidebar {
	background-image: url('../images/claimwiki/claimwiki.png');
}

.claimSidebar, .claimSidebar a, .claimSidebar a:hover {
	height: 40px;
	width: 150px;
	display: block;
	text-decoration: none;
}

#p-claimWiki .body {
	background-image: none !important;
	margin: 0 0 0 5px !important;
	padding: 0 !important;
}

.collapsible-nav #p-claimWiki {
	margin: 0 0 1.5em !important;
}

#p-claimWiki > h5, .collapsible-nav #p-claimWiki > h5 {
	background-image: none !important;
	display: none !important;
}

.collapsible-nav #p-claimWiki .body {
	display: block !important;
}

#claim_wiki_form {
	clear: both;
}

#claim_wiki_form .label_above {
	display: block;
	font-weight: bold;
}

#claim_wiki_form fieldset {
	display: block;
	margin: 0 0 10px;
	padding: 0 0 10px;
	border: 0 none;
}

#claim_wiki_form textarea {
	max-width: 600px;
	min-height: 150px;
}

#claim_wiki_form h3 .plain {
	font-weight: normal;
}

#claimlist {
	width: 100%;
	clear: both;
}

#claimlist, #claimlist th, #claimlist td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 4px;
}

	#claimlist th {
		background-color: #ddd;
	}

	#claimlist .sortable th span[data-sort] {
		background-image: url("data:image/gif;base64,R0lGODlhFQAJAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTE4OEM2REYyN0ExMDhBNDJFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjdCNTAyODcwMEY4NjExRTBBMzkyQzAyM0E1RDk3RDc3IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjdCNTAyODZGMEY4NjExRTBBMzkyQzAyM0E1RDk3RDc3IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzUgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDE4MDExNzQwNzIwNjgxMTg4QzZERjI3QTEwOEE0MkUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDE4MDExNzQwNzIwNjgxMTg4QzZERjI3QTEwOEE0MkUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAFQAJAAACF4yPgMsJ2mJ4VDKKrd4GVz5lYPeMiVUAADs=");
		background-position: right center;
		background-repeat: no-repeat;
		cursor: pointer;
		padding-right: 20px;
	}

	#claimlist .sortable > th[data-selected="true"], #claimlist .sortable > th span[data-selected="true"] {
		background-color: #aaa;
	}

	#claimlist tr > td span[data-selected="true"] {
		font-weight: bold;
	}

	#claimlist .sortable[data-sort-dir="desc"] > th span[data-selected="true"] {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAYAAADdA2d2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjc2QjlBNzNCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjc2QjlBNzRCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNzZCOUE3MUI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNzZCOUE3MkI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PpERdycAAAA+SURBVHjaYvz//z8DLsDIyIjMBSmEC+DTx8RAHPiPRuMFTCQYyECswUwkGkiUwYz4woZcwMRAAzDCDQUIMADt5BAFJaQ49gAAAABJRU5ErkJggg==");
	}

	#claimlist .sortable[data-sort-dir="asc"] > th span[data-selected="true"] {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAYAAADdA2d2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mjc2QjlBNkZCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mjc2QjlBNzBCNUE5MTFFMkJBMUY4RTEyNUU5QjgxMUYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNzZCOUE2REI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNzZCOUE2RUI1QTkxMUUyQkExRjhFMTI1RTlCODExRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Po3a3soAAAA+SURBVHjaYvz//z8DtQETAw3A0DGUBZ8kIyMjTjl8ccFCwFJ8schIrvcZSTWQ2DBlJMVAUiKKkVgDQQAgwACQ6QcZ9msHwAAAAABJRU5ErkJggg==");
	}

	#claimlist .sortable th span[data-sort] {
	    display: block;
	}

	#claimlist .sortable > th:hover {
		background-color: #aaa;
	}

	#claimlist .sortable th.unsortable {
		background-color: #ddd;
		background-image: none;
		cursor: auto;
		padding: 4px;
	}

	#claimlist tr:hover {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTVGMUI2RDg3MzlGMTFFMkE5Q0FEOUJEOTVENEZDMkMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTVGMUI2RDk3MzlGMTFFMkE5Q0FEOUJEOTVENEZDMkMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpEQTVCOUJGNTczOUUxMUUyQTlDQUQ5QkQ5NUQ0RkMyQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpEQTVCOUJGNjczOUUxMUUyQTlDQUQ5QkQ5NUQ0RkMyQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pk93Vi0AAAAWSURBVHjaYpw5c2YDAxAwMUABQIABACPmAk9yX/zwAAAAAElFTkSuQmCC);
	}

	#claimlist .controls {
		width: 24px;
	}

		#claimlist .controls.wide {
			width: 110px;
		}

	#claimlist .controls .controls_container {
		position: relative;
	}

	#claimlist .controls img {
		max-width: 24px;
		text-align: right;
	}

	#claimlist .controls_container > .dropdown {
		background: none repeat scroll 0 0 white;
		border: 1px solid black;
		border-radius: 4px 4px 4px 4px;
		display: none;
		padding: 4px 2px;
		position: absolute;
		right: 0;
		top: 24px;
		z-index: 1000;
	}

	#claimlist .controls:hover .dropdown {
		display: inline;
	}

	#claimlist .controls a {
		display: inline-block;
	}

	#claimlist .controls .dropdown a {
		display: block;
		width: 120px;
	}

	#claimlist .controls img {
		padding: 0 4px;
	}

	#claimlist .master {
		background: none repeat scroll 0 0 #8DDD62;
	}

	#claimlist .approved {
		background: none repeat scroll 0 0 greenyellow;
	}

	#claimlist .deleted, #claimlist .denied {
		background: none repeat scroll 0 0 pink;
	}

	#claimlist .in_dev {
		background: none repeat scroll 0 0 burlywood;
	}

	#claimlist tr.uncached {
		background-color: gold;
	}

	#claimlist ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	#claimlist ul li {
		margin: 0;
		padding: 0;
	}

	#claimlist .popup_list {
		display: block;
	}

	#claimlist .popup_list ul {
		display: none;
		background: white;
		border: 1px solid black;
		border-radius: 10px;
		padding: 10px;
		z-index: 100;
		position: absolute;
	}

	#claimlist .popup_list:hover ul {
		display: block;
	}

.list_search {
	float: left;
	margin-bottom: 6px;
}

	.list_search fieldset {
		display: block;
		margin: 0;
		padding: 0;
		border: 0 none;
	}

	.list_search .search_field {
		height: 28px;
		padding: 0 10px;
		margin: 0;
		border-radius: 5px;
		border: 1px solid #999;
		width: 250px;
		line-height: 28px;
	}

	.list_search a.button, .list_search input.button, .list_search span.button {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: none repeat-x scroll center top #212121;
		border-color: #212121;
		border-radius: 5px 5px 5px 5px;
		border-style: solid;
		border-width: 1px 1px 0;
		box-shadow: 0 1px 0 0 #5C5C5C inset, 0 2px 3px rgba(0, 0, 0, 0.2);
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		font: 300 12px/30px Helvetica,Arial,sans-serif;
		height: 30px;
		min-width: 125px;
		padding: 0 10px;
		text-align: center;
		text-shadow: 0 -1px 0 #191919;
		text-decoration: none;
		vertical-align: bottom;
	}

.pagination {
	display: inline-block;
	margin-left: 0;
}

	.pagination li {
		border: 1px solid black;
		display: inline-block;
		float: left;
		font-weight: bold;
		list-style: none inside none;
		margin: 0 3px;
		padding: 1px 5px;
	}

		.pagination li.selected {
			background-color: #ccc;
		}

		.pagination li:first-child {
			margin-left: 0;
		}

		.pagination li:last-child {
			margin-right: 0;
		}